button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/*--------card-button------*/

.card-button {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid $color-btn;
  border-radius: 50%;
}

.card-button::before {
  content: "";
  position: absolute;
  top: 39%;
  left: 35%;
  width: 9px;
  height: 9px;
  border-top: 2.9px solid $color-btn;
  border-right: 2.9px solid $color-btn;
  border-radius: 2px 2px 2px 2px;
  transform: rotate(45deg);
}

.card-button {
  border-radius: 50%;
  transition: transform 0.5s;
}

.card-button:hover,
li.tablet__logo:hover,
.order-button:hover {
  transform: scale(1.09);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.5s, transform 0.5s;
}

.card-button:active,
button:active {
  transform: scale(0.95);
  filter: brightness(90%);
}

/*-------button-show---------*/

.button-show {
  display: none;
}

.burger-menu {
  transition: filter 0.3s, transform 0.3s;
  cursor: pointer;
}

.burger-menu:hover,
.services__clients-buttons_item:hover,
.header__item:hover {
  transition: filter 0.3s;
  transform: scale(1.1);
  -webkit-filter: drop-shadow(3px 3px 2px $color-gray-text);
  filter: drop-shadow(3px 3px 2px $color-gray-text);
  transition: 0.3s;
  cursor: pointer;
}

.header-menu .header-menu__item:first-child,
.header-menu .header-menu__item:last-child,
.footer-button {
  width: 40px;
  height: 40px;
  max-width: 100%;
  background-size: contain;
  cursor: pointer;
  background-color: $color-white;
}
