.feedback {
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;

  > h2 {
    padding: 30px 0;
    font-size: 24px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      width: 4px;
      height: 100%;
      background: url("../img/logo/highlight.svg") no-repeat center;
      background-size: contain;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: 5px;
    color: #333;
  }

  &__input,
  &__textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;

    &::-moz-placeholder {
      color: #b5b6bc;
    }

    &::placeholder {
      color: #b5b6bc;
    }

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }

  &__submit-button {
    transition: filter 0.3s, transform 0.3s;

    &:hover {
      transform: scale(1.04);
      filter: drop-shadow(3px 3px 2px #e0e0e0);
    }
  }

  &__consent {
    font-size: 12px;
    color: $color-gray;
    margin-bottom: 15px;

    > a {
      font-size: 12px;
      color: $color-btn;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__close-button {
    width: 40px;
    height: 40px;
    max-width: 100%;
    background-size: contain;
    background-image: url(../img/logo/burgerclose.svg);
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }

  &__submit-button,
  .swiper_prices .order-button {
    position: relative;
    width: 136px;
    height: 32px;
    padding-right: 10px;
    background-color: $color-btn;
    color: $color-white;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;

    &::before {
      content: "";
      position: absolute;
      top: 37%;
      left: 83%;
      width: 8px;
      height: 8px;
      border-top: 2.9px solid $color-white;
      border-right: 2.9px solid $color-white;
      border-radius: 2px 2px 2px 2px;
      transform: rotate(45deg);
    }
  }
}
