// /*----------------------header style-----------------*/

// .header__container {
//   max-width: 100%;
//   padding: 0;
//   box-sizing: border-box;
//   border-bottom: 1px solid #d9fff5;
//   background-color: #ffffff;
// }
// .button,
// .services__reviews-button {
//   background: none;
//   border: none;
//   padding: 0;
//   cursor: pointer;
// }
// .header__list,
// .header__left,
// .header__right {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
// .header__list {
//   padding: 0 20px;
// }

// .header__left,
// .header__right {
//   display: flex;
//   justify-content: space-around;
//   flex: 1;
// }

// @media (min-width: 768px) and (max-width: 1440px) {
//   .header {
//     display: block;
//   }
//   .header__left {
//     justify-content: start;
//     li {
//       margin: 20px;
//     }
//   }
//   .header__item-repair,
//   .header__item-checkstatus,
//   .header__item.tablet__logo,
//   .tablet__logo-call,
//   .tablet__logo-chat,
//   .tablet__logo-profile {
//     display: inline-block !important;
//     border-radius: 50%;
//   }
//   .tablet__logo-call {
//     background-image: url(../img/logo/call.svg);
//   }
//   .tablet__logo-chat {
//     background-image: url(../img/logo/chat.svg);
//   }
//   .tablet__logo-profile {
//     background-image: url(../img/logo/profile.svg);
//   }
// }
// .header__item.tablet__logo {
//   display: none;
// }

// .header__item.burger-menu,
// .header__item.tablet__logo,
// .header__item-repair,
// .header__item-checkstatus {
//   display: inline-block;
//   width: 40px;
//   height: 40px;
//   max-width: 100%;
//   background-size: contain;
// }
// .burger-menu__showbtn .button {
//   margin-right: 40%;
//   background-repeat: no-repeat;
// }
// .header__item.burger-menu {
//   background-image: url(../img/logo/burger.svg);
// }

// .header__item.tablet__logo {
//   display: none;
// }

// .header__item-repair {
//   background-image: url(../img/logo/repair.svg);
// }

// .header__item-checkstatus {
//   background-image: url(../img/logo/checkstatus.svg);
// }
// .header__item--logo {
//   width: 96px;
//   height: auto;
//   max-width: 160px;
// }

// .header__list {
//   max-width: 100%;
//   box-sizing: border-box;
// }

// .header__item_border {
//   width: 2px;
//   height: 32px;
//   margin: 0 10px;
//   background-color: #b8ffec;
// }

// /*-----------main style-------------------------------------------*/

// // .services {
// //   display: flex;
// //   flex-direction: column;
// //   background-color: #F8F8F8;
// //   padding: 20px 0;
// //   box-sizing: border-box;
// //   color: #7E7E82;

// //   &__head {
// //     display: flex;
// //     align-items: center;
// //     height: 3rem;
// //     font-size: 2rem;
// //     margin: 10px 0;
// //     padding: 0 5%;
// //     border-left: 4px solid #41F6D7;
// //     color: #1B1C21;
// //   }

// //   &__clients-buttons {
// //     display: none;
// //   }

// //   &__nav {
// //     width: 100%;
// //     overflow: auto;
// //     white-space: nowrap;
// //     -webkit-overflow-scrolling: touch;
// //     scrollbar-width: none;
// //     -ms-overflow-style: none;
// //     margin: 20px 0;

// //     &::-webkit-scrollbar {
// //       width: 1px;
// //     }

// //     &--list {
// //       width: auto;
// //       display: flex;
// //       justify-content: flex-start;
// //       align-items: center;
// //       padding-left: 20px;
// //       overflow-x: auto;
// //     }

// //     &--list li a {
// //       color: #7E7E82;
// //     }

// //     &--list li {
// //       display: flex;
// //       justify-content: flex-start;
// //       align-items: center;
// //       text-align: center;
// //       padding: 0 10px;
// //       height: 40px;
// //       font-size: 1rem;
// //       margin-right: 10px;
// //       border: 2px solid transparent;

// //       &:hover,
// //       &:active,
// //       &:focus {
// //         border: 2px solid #B8FFEC;
// //         border-radius: 6px;
// //         background-color: white;
// //       }
// //     }

// //     &__reviews-button {
// //       display: none;
// //     }
// //   }

// //   &__text {
// //     padding: 20px;

// //     p {
// //       width: 100%;
// //       color: #1B1C21;
// //     }

// //     &--hide {
// //       display: none;
// //     }
// //   }

// //   &__img_file {
// //     width: 100%;
// //     box-sizing: border-box;
// //   }

// //   .expand-button {
// //     display: flex;
// //     align-items: center;
// //     text-align: center;
// //     margin: 3% 0;

// //     &__item {
// //       position: relative;
// //       font-family: 'TT Lakes Bold';
// //       font-size: 1.1rem;
// //       background-color: #F8F8F8;
// //       margin-left: 30px;

// //       &:hover {
// //         cursor: pointer;
// //       }

// //       &:active {
// //         transform: scale(0.99);
// //         background-color: #f3fffc;
// //       }

// //       &::before {
// //         content: "";
// //         display: inline-block;
// //         background: url('../img/logo/expand.svg') no-repeat center center;
// //         width: 24px;
// //         height: 24px;
// //         background-size: contain;
// //         margin: 0 10px 0 -30px;
// //         position: absolute;
// //         top: 50%;
// //         transform: translateY(-50%);
// //       }
// //     }
// //   }

// //   &__img_file {
// //     width: 96%;
// //     padding: 2%;
// //   }

// //   @media (min-width: 768px) {
// //     .header__item-repair,
// //     .header__item-checkstatus,
// //     .header__item.tablet__logo {
// //       display: inline-block;
// //     }

// //     .tablet__logo-call {
// //       background-image: url(../img/logo/call.svg);
// //     }

// //     .tablet__logo-chat {
// //       background-image: url(../img/logo/chat.svg);
// //     }

// //     .tablet__logo-profile {
// //       background-image: url(../img/logo/profile.svg);
// //     }

// //     .services__nav--list {
// //       display: flex;
// //       justify-content: flex-start;
// //       padding-left: 50px;
// //     }

// //     .services__about {
// //       display: flex;
// //       justify-content: center;
// //       align-items: center;

// //       &__info,
// //       &__img {
// //         flex: 1;
// //       }
// //     }

// //     .services__text {
// //       padding: 50px;

// //       &--hide {
// //         display: block;
// //         height: 50px;
// //         padding: 3% 0;
// //         overflow-y: hidden;
// //       }
// //     }

// //     .services__about {
// //       display: flex;
// //       justify-content: space-between;
// //       font-size: 1.5rem;
// //     }

// //     .header__list,
// //     .header__left,
// //     .header__right {
// //       display: flex;
// //       justify-content: space-between;
// //       align-items: center;

// //       .header__left {
// //         justify-content: flex-start;

// //         li {
// //           padding: 20px;
// //         }
// //       }

// //       .services__nav--list li {
// //         font-size: 1.5rem;
// //         padding: 0 30px;
// //       }
// //     }
// //   }

// @media (min-width: 1120px) {
//   header {
//     display: none;
//   }

//   .services__head {
//     display: flex;
//     justify-content: space-between;
//     padding: 0 0 0 5%;
//   }

//   h1 {
//     font-size: 2.3rem;
//     font-weight: bold;
//   }

//   .header__item-repair,
//   .header__item-checkstatus,
//   .header__item.tablet__logo {
//     display: inline-block;
//   }
//   .tablet__logo-call {
//     background-image: url(../img/logo/call.svg);
//   }
//   .tablet__logo-chat {
//     background-image: url(../img/logo/chat.svg);
//   }
//   .tablet__logo-profile {
//     background-image: url(../img/logo/profile.svg);
//   }
// }

$color-btn: #ff3e79;
$color-gray-text: #7e7e82;
$color-text: #1b1c21;
$color-accent: #41f6d7;
$color-border: #d9fff5;
$color-background: #f8f8f8;
$color-white: #ffffff;
$color-black: #1b1c21;
$color-gray: #7e7e82;

.header__container {
  max-width: 100%;
  padding: 0;
  box-sizing: border-box;
  border-bottom: 1px solid $color-border;
  background-color: $color-white;
}

.button,
.services__reviews-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__list,
.header__left,
.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  padding: 0 20px;
}

.header__left,
.header__right {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .header {
    display: block;
  }

  .header__left {
    justify-content: start;

    li {
      margin: 20px;
    }
  }

  .header__item-repair,
  .header__item-checkstatus,
  .header__item.tablet__logo,
  .tablet__logo-call,
  .tablet__logo-chat,
  .tablet__logo-profile {
    display: inline-block !important;
    border-radius: 50%;
    background-repeat: no-repeat;
  }

  .tablet__logo-call {
    background-image: url(../img/logo/call.svg);
  }

  .tablet__logo-chat {
    background-image: url(../img/logo/chat.svg);
  }

  .tablet__logo-profile {
    background-image: url(../img/logo/profile.svg);
  }
}

.header__item.tablet__logo {
  display: none;
}

.header__item.burger-menu,
.header__item.tablet__logo,
.header__item-repair,
.header__item-checkstatus {
  display: inline-block;
  width: 40px;
  height: 40px;
  max-width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.burger-menu__showbtn .button {
  margin-right: 40%;
  background-repeat: no-repeat;
}

.header__item.burger-menu {
  background-image: url(../img/logo/burger.svg);
}

.header__item.tablet__logo {
  display: none;
}

.header__item-repair {
  background-image: url(../img/logo/repair.svg);
}

.header__item-checkstatus {
  background-image: url(../img/logo/checkstatus.svg);
}

.header__item {
  .header__item--logo {
    display: block;
  width: 96px;
  height: 50px; /* Set the desired height */
  max-width: 160px;
  background-image: url("../img/logo/CPS_logo.svg");
  background-size: contain; /* Adjust as needed */
  background-repeat: no-repeat;
  background-position: center center;
  }
}

.header__list {
  max-width: 100%;
  box-sizing: border-box;
}

.header__item_border {
  width: 2px;
  height: 32px;
  margin: 0 10px;
  background-image: url("../img/divider.svg");
  background-color: $color-border;
}
@media (min-width: 1440px) {
  .header__list {
    display: none;
  }
}
