// .prices-list {
//   display: none !important;
//   @media (min-width: 768px) {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     background-color: #f8f8f8;
//   }
// }
// .prices-list__wrapper {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   background-color: #ffffff;
//   width: 94%;
//   margin: 0 0 5%;
//   border-collapse: collapse;
//   border-radius: 6px;
// }
// .prices-list__container {
//   display: flex;
//   width: 100%;
// }

// .prices-list__row {
//   display: flex;
//   width: 96%;
//   border-bottom: 1px solid #e0e0e0;
//   height: 65px;
// }
// .prices-list__row_names {
//   width: 100%;
//   color: #7e7e82;
//   background-color: #f8f8f8;
//   .prices-list__cell_name {
//     padding: 3%;
//   }
//   border: none;
// }

// .prices-list__cell {
//   padding: 10px;
//   text-align: left;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

// .prices-list__cell_first {
//   width: 45%;
// }

// .prices-list__cell--price,
// .prices-list__cell_min {
//   width: 15%;
// }

// .prices-list__cell--empty {
//   width: 15%;
// }

// .prices-list__buttons-cell {
//   width: 25%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .order-button {
//   position: relative;
//   width: 136px;
//   height: 32px;
//   padding-right: 10px;
//   background-color: #ff3e79;
//   color: #ffffff;
//   border-radius: 20px;
//   text-transform: uppercase;
//   font-size: 0.9rem;
//   &::before {
//     content: '';
//     position: absolute;
//     top: 37%;
//     left: 83%;
//     width: 8px;
//     height: 8px;
//     border-top: 2.9px solid #ffffff;
//     border-right: 2.9px solid #ffffff;
//     border-radius: 2px 2px 2px 2px;
//     transform: rotate(45deg);
//   }
//   transition: transform 0.5s;
// }

.prices-list {
  display: none !important;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $color-background;
  }
}

.prices-list__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  width: 94%;
  margin: 0 0 5%;
  border-collapse: collapse;
  border-radius: 6px;
}

.prices-list__container {
  display: flex;
  width: 100%;
}

.prices-list__row {
  display: flex;
  width: 96%;
  border-bottom: 1px solid #e0e0e0;
  height: 65px;
}

.prices-list__row_names {
  width: 100%;
  color: $color-gray-text;
  background-color: $color-background;

  .prices-list__cell_name {
    padding: 3%;
  }

  border: none;
}

.prices-list__cell {
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prices-list__cell_first {
  width: 45%;
}

.prices-list__cell--price,
.prices-list__cell_min {
  width: 15%;
}

.prices-list__cell--empty {
  width: 15%;
}

.prices-list__buttons-cell {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-button {
  position: relative;
  width: 136px;
  height: 32px;
  padding-right: 10px;
  background-color: $color-btn;
  color: $color-white;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;

  &::before {
    content: '';
    position: absolute;
    top: 37%;
    left: 83%;
    width: 8px;
    height: 8px;
    border-top: 2.9px solid $color-white;
    border-right: 2.9px solid $color-white;
    border-radius: 2px 2px 2px 2px;
    transform: rotate(45deg);
  }

  transition: transform 0.5s;
}

.order-button:hover {
  transform: scale(1.04);
}
